<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/view/style/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Badriana</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navs">
        <div class="container">
            <a class="navbar-brand" href="#">IMG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blogview">My Blog</a>
                    </li>
                </ul>
                <div class="navbar-text">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="kontak">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section class="mt-5 ">
        <div class="container">
            <button type="button" class="btn btn-primary"><a class="nav-link" href="tambahBlog">Tambah Data Blog</a>
            </button>
            <div class="row">
                {{range $index, $data := .Blogs}}
                <div class="col d-flex justify-content-around mt-3 wpp " id="view">
                    <div class="card my-4 border-none shadow" style="width: 23rem;">
                        <img src="public/assets/OIP.jpg" class="card-img-top" alt="aa">
                        <div class="card-body">
                            <h5 class="text-dark-emphasis "> 
                                <a href="detail/{{$data.ID}}" class="text-decoration-none text-dark">{{$data.Nama}}</a></h5>
                            <p class="card-text fs-6 text-gray">Dari - {{$data.Stardate}} - {{$data.Enddate}}</p>
                            <!-- <p class="card-text">Sampai - {{$data.Enddate}}</p> -->
                            <p class="card-text">{{$data.Durasi}} </p>
                            <!-- <p class="card-text">Durasi - </p> -->
                            <p class="card-text">{{$data.Deskripsi}} </p>
                
                            <p class="card-text">{{$data.Img}} </p>
                            <div class="iconss">
                                {{if $data.Nodejs}}
                                <i class="fa-brands fa-node fs-3"></i>
                                {{end}} 
                                {{if $data.React}}
                                <i class="fa-brands fa-react fs-3"></i>
                                {{end}} 
                                {{if $data.Nextjs}}
                                <i class="fa-brands fa-square-js fs-3"></i>
                                {{end}} 
                                {{if $data.Typescript}}
                                <i class="fa-brands fa-vuejs fs-3"></i>
                                {{end}}
                            </div>
                            <div class="mt-4 d-flex justify-content-center gap-3 ">
                                <div>
                                    <form action="/myEdit/{{$data.ID}}" method="GET" class="bg-dark rounded">
                                        <input type="submit" value="Edit" class="btn text-light rounded"
                                            style="width: 140px;" />
                                    </form>

                                </div>
                                <duv>
                                    <form action="/deleteBlog/{{$data.ID}}" method="post" class="bg-dark rounded">
                                        <input type="submit" value="Delete" class="btn text-light"
                                            style="width: 140px;" />
                                    </form>
                                </duv>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- <script src="public/view/js/blog.js"></script> -->
</body>

</html>
