<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="view/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Badriana</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navs">
        <div class="container">
            <a class="navbar-brand" href="#">IMG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blogview">My Blog</a>
                    </li>
                </ul>
                <div class="navbar-text">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="kontak">Contact</a>
                        </li>
                        {{if .DataSession.IsLogin}}
                        <li class="nav-item mx-3 my-2">
                            <a href="#" style="text-decoration: none; color: black"><i class="fa-solid fa-user"></i>
                                {{.DataSession.Name}}</a>
                        </li>
                        <li class="nav-item mx-3 my-1 ">
                            <form id="myform" action="/logout" method="POST"></form>
                            <button onclick="document.getElementById('myform').submit()" class="btn-auth bg-dark text-light border-dark rounded-2 px-3 py-1 ">
                                <i class="fa-solid fa-right-from-bracket text-light"></i> Logout
                            </button>
                        </li>
                        {{else}}
                        <li class="nav-item my-2 px-2">
                            <a href="/regis" class="btn-auth text-decoration-none"> Register</a>
                        </li>
                        <li class="nav-item my-2 px-2">
                            <a href="/formlogin" class="btn-auth text-decoration-none">Login</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{if .FlashMessage}} {{if .FlashStatus}}
    <div class="container">
    <div class="alert alert-primary" role="alert">
        <strong>{{.FlashMessage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>  
    {{else}}
    <div class="container"> 
    <div class="alert alert-primary" role="alert">
        <strong>{{.FlashMessage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
    {{end}} {{end}}



    <section class="my-5">
        <div class="container bg-white mt-4 shadow">
            <div class="row">
                <div class="col col-md-7 p-5 col-sm-12">
                    <h2>Hi Welcome to my hut</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
                        amet,
                        consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>

                    <button class="btn btn-dark px-5 rounded-5">Contact</button>
                    <span><a href="https://drive.google.com/file/d/17rSw2DXU6hX5pxYsFnTIyD8-mVL3VRhW/view?usp=sharing"
                            class="text-decoration-none text-dark mx-2 fs-6">download
                            CV <i class="fa-sharp fa-solid fa-download fs-4 "></i></a></span>

                    <div class="icons mt-4">
                        <a href="https://github.com/badriana400952" class="text-decoration-none text-dark m-2"> <i
                                class="fa-brands fa-linkedin fs-2 m-2"></i></a>
                        <a href="https://web.facebook.com/badriana.badriana.7545"
                            class="text-decoration-none text-dark"> <i class="fa-brands fa-facebook fs-2 m-2"></i></a>
                        <a href="https://www.instagram.com/badrian____/?hl=id" class="text-decoration-none text-dark"><i
                                class="fa-brands fa-instagram fs-2 m-2"></i></a>
                        <a href="https://twitter.com/badrun952" class="text-decoration-none text-dark fs-2 m-2"><i
                                class="fa-brands fa-twitter"></i></a>
                    </div>

                </div>
                <div class="col col-md-5 mb-5 mt-4 col-sm-12 d-flex justify-content-center">
                    <div class="card shadow rounded-2  " style="width: 23rem;">
                        <img src="public/assets/a.jpg" class="card-img-top" alt="asset">
                        <div class="card-body">
                            <h4 class="text-center">Badriana</h4>
                            <p class="card-text text-center">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>